SingletonDesignPatternExample/.vs
SingletonDesignPatternExample/SingletonDesignPatternExample/bin
SingletonDesignPatternExample/SingletonDesignPatternExample/obj
BuilderDesignPatternExample/.vs
BuilderDesignPatternExample/bin
BuilderDesignPatternExample/obj
